body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
.sidebar {
    height : 100%;
    width : 200px;
    position : fixed;
    background-color : #2196F3;
}
.navbar {
}
.logo {
    width : 200px;
}
.user-info {
    width: 200px;
    padding : 20px;
}
.menu-btn {
    color : #FFF;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    padding-left : 10px;
    
}
.menu-btn-width {
    width : 200px;
    padding : 10px 20px 10px 40px;
    text-align : left;
    
}
.fs-title {
    color : white;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.img-circle {
    border-radius: 50%;
    padding : 10px;
}

.btn--flat.btn--primary {
    background-color : #2196F3;
    color : #FFF;
}
.display-inline {
    display : inline-block;
}
.page-blur {
    -webkit-filter: blur(5px);
}
.page-center {
    position:absolute;
    top: calc(50% - 75px);
    left: 50%;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }
.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }