<div ng-controller="mainController">
<div class="body"></div>
    <div class="grad"></div>
		<div class="header">
            <b><div>Geeks<span class="tc-blue-500">Board</span></div></b>
		</div>
		<br>
    <div class="login">
                    <input type="text" placeholder="Student ID" ng-model="login.user" name="user"><br>
                    <input type="password" placeholder="Password" ng-model="login.password" name="password"><br><br>
                    <lx-button lx-type="flat" class="bg-blue-500 login-button" ng-click="login()"><i class="mdi mdi-login-variant"></i> Login</lx-button>
                    
    </div>
</div>